.doing {
  padding-top: var(--margin-padding-witch-block);
  padding-bottom: var(--margin-padding-witch-block);
}
.doing__list {
  list-style: none;
}
.doing__item {
  display: inline-block;
  & + & {
    margin-left: 30px;
  }
}

.doing__icon-container {
  width: auto;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-second-color);
}
.doing__icon {
}
.doing__item-title {
  padding-top: 30px;
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  width: var(--width-card-thin);
  margin-bottom: 10px;
}
.doing__item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
