.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header-nav {
}
.logo {
  text-decoration: none;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--logo-second-color);
}
.logo-first-color {
  color: var(--logo-first-color);
}
.nav-list {
  list-style-type: none;
  margin-left: 92px;
}
.nav-item,
.nav-item-link {
  position: relative;
  color: var(--header-first-text-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item + .nav-item {
  margin-left: var(--nav-margin-left);
}

.current {
  color: var(--header-text-hover-color);
}
.current::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--button-background-hover-color);
  position: absolute;
  bottom: -28px;
  border-radius: 2px;
}

.nav-item-link:hover,
.nav-item-link:focus,
.header-item-link:focus,
.header-item-link:hover {
  color: var(--header-text-hover-color);
}
.header-list {
  list-style-type: none;
  margin-left: auto;
}
.header-item + .header-item {
  margin-left: var(--nav-margin-left);
}
.header-item-link {
  color: var(--header-second-text-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.header-item-mail {
  margin-right: 10px;
}
.header-item-mail-icon {
  fill: currentColor;
}
